*.iml
.gradle/
/local.properties
.idea/
**/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.keystore
*.jks
# но стабильный debug-ключ держим в репо (нужен для одинаковой подписи сборок)
!/app/debug.keystore
.DS_Store
